<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Order Book</h3>
<p>
    <a href="/bookOrder">
        Back to bookOrder list
    </a>
</p>
<div id="form">
    <form action="/book/order" th:object="${bookOrder}"
          method="POST" novalidate="novalidate">

        <div>
            <label>OTP</label>
            <input type="text" th:field="*{otp}" disabled/>
        </div>
        <div>
            <label>Book Title</label>
            <input type="text" th:field="*{book}" disabled>
        </div>
        <div>
            <label>OrderDate</label>
            <input type="text" th:field="*{orderDate}" disabled/>
        </div>
        <h3>Confirmed to borrow book: <strong color="green" th:text="*{book.title}"></strong>?
        </h3>
        <a href="/">Cancel</a>
        <button type="submit">Confirm</button>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>