<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Add Blog</h3>
<p>
    <a href="/blog">
        Back to blog list
    </a>
</p>
<div id="form">
    <form action="/blog/create" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Title</label>
            <input type="text" th:field="*{title}"/>
        </div>
        <div>
            <label>Category</label>
            <input type="number" th:field="*{category}"/>
        </div>
        <div>
            <label>Author</label>
            <input type="text" th:field="*{author}"/>
        </div>
        <div>
            <label>Time</label>
            <input type="text" th:field="*{time}"/>
        </div>
        <div>
            <label>Content</label>
            <textarea th:field="*{body}"/>
        </div>
        <a href="/blog/create">Reset Data</a>
        <button type="submit">Add</button>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>