<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/bootstrap_layout :: head">
</head>
<body>
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-3">
                        <h2>Manage <b>Blogs</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <form action="/blog" novalidate="novalidate">
                            <div class="search-box">
                                <input type="text" name="searchTitle"
                                       th:value="${searchTitle}" placeholder="Search by Title&hellip;">
                            </div>
                            <select name="searchCategory">
                                <option th:if="${searchCategory}!=''"
                                        th:value="${searchCategory}"
                                        th:text="${searchCategory}"></option>
                                <option th:value="''"
                                        th:text="'All Category'"></option>
                                <option th:each="category: ${categories}"
                                        th:value="${category.name}"
                                        th:text="${category.name}"></option>
                            </select>
                            <button class="btn btn-success" type="submit">Search<i
                                    class="material-icons">&#xE8B6;</i>
                            </button>
                        </form>
                    </div>
                    <div class="col-sm-3">
                        <a href="/blog/create" class="btn btn-success"><i
                                class="material-icons">&#xE147;</i> <span>Add New Blog</span></a>
                    </div>
                </div>
            </div>
            <div class="notify">
                <div th:if="${message}">
                    <span th:text="${message}"></span>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Author</th>
                    <th>Time</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blog,status:${blogs}">
                    <td th:text="${blogs.getSize() * blogs.getNumber + status.count}"></td>
                    <td><a th:href="@{/blog/{id}/view(id=${blog.id})}"
                           th:text="${blog.title}"></a></td>
                    <td th:text="${blog.category.name}"></td>
                    <td th:text="${blog.author}"></td>
                    <td th:text="${blog.time}"></td>
                    <td><a th:href="@{/blog/{id}/edit(id=${blog.id})}" class="edit">
                        <i class="material-icons" title="Edit">&#xE254;
                        </i></a>
                        <a th:href="@{/blog/{id}/delete(id=${blog.id})}" class="delete">
                            <i class="material-icons" title="Delete">&#xE872;</i>
                        </a></td>
                </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <div class="pagination">
                    <a th:href="@{'/blog'(page=0, searchTitle=${searchTitle}, searchCategory=${searchCategory})}"
                       title="first page">First</a>
                    <a th:href="@{'/blog'(page=${blogs.number - 1}, searchTitle=${searchTitle}, searchCategory=${searchCategory})}"
                       th:if="${blogs.hasPrevious()}" title="previous page">Previous</a>
                    <a href="#" class="page-active"><span
                            th:text="${blogs.number+1}+'/'+${blogs.totalPages}"></span></a>
                    <a th:href="@{'/blog'(page=${blogs.number + 1}, searchTitle=${searchTitle}, searchCategory=${searchCategory})}"
                       th:if="${blogs.hasNext()}" title="next page">Next</a>
                    <a th:href="@{'/blog'(page=${blogs.totalPages}-1, searchTitle=${searchTitle}, searchCategory=${searchCategory})}"
                       title="last page">Last</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<h3>Blogs</h3>-->
<!--<p>-->
<!--    <a href="/blog/create">-->
<!--        Add new blog-->
<!--    </a>-->
<!--</p>-->
<!--<div id="form">-->
<!--    <form action="/blog/search" novalidate="novalidate">-->
<!--        <input type="text" name="searchTitle" placeholder="Search by name">-->
<!--        <button type="submit">Search</button>-->
<!--    </form>-->
<!--</div>-->
<!--<div class="notify">-->
<!--    <div th:if="${message}">-->
<!--        <span th:text="${message}"></span>-->
<!--    </div>-->
<!--</div>-->
<!--<table id="blogs">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Title</th>-->
<!--        <th>Category</th>-->
<!--        <th>Author</th>-->
<!--        <th>Time</th>-->
<!--        <th>Edit</th>-->
<!--        <th>Delete</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="blog,status:${blogs}">-->
<!--        <td><a th:href="@{/blog/{id}/view(id=${blog.id})}"-->
<!--               th:text="${blog.title}"></a></td>-->
<!--        <td th:text="${blog.category.name}"></td>-->
<!--        <td th:text="${blog.author}"></td>-->
<!--        <td th:text="${blog.time}"></td>-->
<!--        <td><a th:href="@{/blog/{id}/edit(id=${blog.id})}">Edit</a></td>-->
<!--        <td><a th:href="@{/blog/{id}/delete(id=${blog.id})}">Delete</a></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<!--<div>-->
<!--    <a th:href="@{'/blog'(page=${blogs.number - 1})}"-->
<!--       th:if="${blogs.hasPrevious()}">Previous</a>-->
<!--    <span th:text="${blogs.number+1}+'/'+${blogs.totalPages}"></span>-->
<!--    <a th:href="@{'/blog'(page=${blogs.number + 1})}"-->
<!--       th:if="${blogs.hasNext()}">Next</a>-->
<!--</div>-->
<footer th:replace="/bootstrap_layout :: footer"></footer>
</body>
</html>