<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Furama Resort</title>
        <!--        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">-->
        <!--        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
        <!--        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
        <style>
            body {
                background: url("../image/bg_img.jpg") no-repeat center/cover;
                height: 100vh;
                width: 100vw;
            }

            #wrapper {
                right: 0;
                margin: 0 auto;
                display: block;
                width: 960px;
            }

            #border-pagination {
                margin: 0 auto;
                padding: 0;
                text-align: center
            }

            #border-pagination li {
                display: inline;
            }
            #border-pagination li a {
                display: block;
                text-decoration: none;
                color: red;
                padding: 5px 10px;
                border: 1px solid #ddd;
                background-color: white;
                float: left;

            }
            #border-pagination li a {
                -webkit-transition: background-color 0.4s;
                transition: background-color 0.4s
            }
            #border-pagination li a.active {
                background-color: #4caf50;
                color: #fff;
            }
            #border-pagination li a:hover:not(.active) {
                background: #4caf50;
            }
        </style>
    </head>
    <body>
        <!--        Header-->
        <div th:fragment="header">
            <div class="header-content">
                <div class="container">
                    <div class="row">
                        <div class="col-3 align-items-center bestel-logo">
                            <a href="/home" class="header-logo">
                                <img
                                        src="/image/logo_img.png" alt="logo "
                                        class="img-fluid" style="margin: 20px">
                            </a>
                        </div>
                        <div class="col-7 align-items-center bestel-logo">
                        </div>
                        <div class="col-2 align-items-center bestel-logo">
                            <div style="margin-top: 40px; color: #9933cc">Lê Bá Hoàng Giang</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--        Navbar-->
        <div th:fragment="navbar">
            <div class="header-nav js-header-nav sticky bg-light">
                <div class="container">
                    <nav class="navbar navbar-expand-lg">
                        <div class="navbar-collapse">
                            <ul id="menu-furama-vi" class="menu navbar-nav w-100 js-main-menu">
                                <li id="nav-menu-item-5006"
                                    class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="/home" class="nav-link main-menu-link">HOME</a>
                                </li>
                                <li id="nav-menu-item-5007"
                                    class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="/employees" class="nav-link main-menu-link">EMPLOYEE</a>
                                </li>
                                <li id="nav-menu-item-5008"
                                    class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="/customers" class="nav-link main-menu-link">CUSTOMER</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/facilities" id="navbarDropdown"
                                       role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        SERVICE
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li>
                                            <a class="dropdown-item" href="/facilities">All Facilities</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/facilities/villas">VILLA</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/facilities/houses">HOUSE</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/facilities/rooms">ROOM</a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="nav-menu-item-5010"
                                    class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="/contracts"
                                       class="nav-link main-menu-link">CONTRACT
                                    </a>
                                </li>
                            </ul>

                            <form class="d-flex m-0 p-0 align-items-center justify-content-end" style="flex: 1"
                                  action="/customers" method="get">
                                <span class="mx-3">Name</span>
                                <input name="searchName" placeholder="Tìm theo tên&hellip;"
                                       th:value="${searchName}" type="text" aria-label="Search">
                                <span class="mx-3">Email</span>
                                <input name="searchEmail" placeholder="Tìm theo tên&hellip;"
                                       th:value="${searchEmail}" type="text" aria-label="Search">
                                <select name="searchCustomerType" class="mx-3">
                                    <option th:if="${searchCustomerType}!=''"
                                            th:value="${searchCustomerType}"
                                            th:text="${searchCustomerType}"></option>
                                    <option th:value="''"
                                            th:text="'--All Type--'"></option>
                                    <option th:each="customerType: ${customerTypes}"
                                            th:value="${customerType.name}"
                                            th:text="${customerType.name}"></option>
                                </select>
                                <button class="btn btn-outline-success" type="submit">Tìm kiếm
                                </button>
                            </form>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <footer th:fragment="footer">
            &copy; C0622G1 Lê Bá Hoàng Giang - Thank you for using our service!
        </footer>
    </body>
</html>