<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: head">
</head>
<body>
<div th:replace="/layout/layout :: header">
</div>
<div th:replace="/layout/facility_create_edit :: navbar">
</div>

<div class="container-fluid">
    <div class="row" style="width: 100%; padding: 0; margin: 0;">
        <div id="content">
            <div class="notify">
                <div th:if="${message}">
                    <h2 style="color: #4caf50" th:text="${message}"></h2>
                </div>
            </div>

            <h1 style="text-align: center; color: blue">Thêm mới Dịch Vụ</h1>

            <form id="form" action="/facilities/create" th:object="${facilityDto}"
                  method="post">
                <fieldset style="width: 65%; margin-left: 25%">
                    <legend>Nhập thông tin</legend>
                    <table class="table table-striped" style="text-align: left">
                        <input type="hidden" th:field="*{id}"/>
                        <tr>
                            <td>Tên</td>
                            <td>
                                <input type="text" th:field="*{name}">
                            </td>
                            <td  style="color: red;" th:errors="*{name}"
                                th:if="${#fields.hasErrors('name')}"></td>
                        </tr>
                        <tr>
                            <td>Kiểu dịch vụ</td>
                            <td><select th:field="*{facilityType}" id="facilityTypeSelect">
                                <option value="" >--Chọn Kiểu--</option>
                                <option th:each="facilityType: ${facilityTypes}"
                                        th:value="${facilityType.id}" th:text="${facilityType.name}"></option>
                            </select></td>
                            <td style="color: red" th:errors="*{facilityType}"
                                th:if="${#fields.hasErrors('facilityType')}"></td>
                        </tr>
                        <tr>
                            <td>Diện tích</td>
                            <td><input  type="text" th:field="*{area}"></td>
                            <td style="color: red" th:errors="*{area}"
                                th:if="${#fields.hasErrors('area')}"></td>
                        </tr>
                        <tr>
                            <td>Giá</td>
                            <td><input type="text" th:field="*{cost}"></td>
                            <td style="color: red" th:errors="*{cost}"
                                th:if="${#fields.hasErrors('cost')}"></td>
                        </tr>
                        <tr>
                            <td>Số người tối đa</td>
                            <td><input type="text" th:field="*{maxPeople}"></td>
                            <td style="color: red" th:errors="*{maxPeople}"
                                th:if="${#fields.hasErrors('maxPeople')}"></td>
                        </tr>
                        <tr>
                            <td>Kiểu thuê</td>
                            <td><select th:field="*{rentType}">
                                <option th:each="rentType: ${rentTypes}"
                                        th:value="${rentType.id}" th:text="${rentType.name}"></option>
                            </select></td>
                            <td style="color: red" th:errors="*{rentType}"
                                th:if="${#fields.hasErrors('rentType')}"></td>
                        </tr>
                        <tr class="villa house">
                            <td>Tiêu chuẩn phòng</td>
                            <td><input type="text" th:field="*{standardRoom}"></td>
                            <td style="color: red" th:errors="*{standardRoom}"
                                th:if="${#fields.hasErrors('standardRoom')}"></td>
                        </tr>
                        <tr class="villa house">
                            <td>Mô tả</td>
                            <td><input type="text" th:field="*{descriptionOtherConvenience}"></td>
                            <td style="color: red" th:errors="*{descriptionOtherConvenience}"
                                th:if="${#fields.hasErrors('descriptionOtherConvenience')}"></td>
                        </tr>
                        <tr class="villa">
                            <td>Diện tích hồ bơi</td>
                            <td><input type="text" th:field="*{poolArea}"></td>
                            <td style="color: red" th:errors="*{poolArea}"
                                th:if="${#fields.hasErrors('poolArea')}"></td>
                        </tr>
                        <tr class="villa house">
                            <td>Số tầng</td>
                            <td><input type="text" th:field="*{numberOfFloors}"></td>
                            <td style="color: red" th:errors="*{numberOfFloors}"
                                th:if="${#fields.hasErrors('numberOfFloors')}"></td>
                        </tr>
                        <tr class="room">
                            <td>Dịch vụ miễn phí</td>
                            <td><input type="text" th:field="*{facilityFree}"></td>
                            <td style="color: red" th:errors="*{facilityFree}"
                                th:if="${#fields.hasErrors('facilityFree')}"></td>
                        </tr>
                        <tr>
                            <td><a href="/facilities/create" class="btn btn-primary" role="button">Xóa tất cả
                                dữ
                                liệu</a></td>
                            <td>
                                <button type="submit" class="btn btn-primary">Thêm mới</button>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>



<footer th:replace="/layout/layout :: footer"></footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $("tr").each(function() {
        this.classList.add('osoke')
    })
    $("tr td:nth-child(1)").each(function() {
        this.classList.add('w-20')
    })
    $("tr td:nth-child(2)").each(function() {
        this.classList.add('w-25')
    })


    $(document).ready(function () {
        showHide();
    })

    $("#facilityTypeSelect").change(function () {
        showHide();
    })

    function showHide() {
        $(".room").hide();
        $(".house").hide();
        $(".villa").hide();
        let type = $("#facilityTypeSelect").val();
        switch (type) {
            case "1" :
                // $("#form").attr("action", "/facilities/create/villa");
                $(".villa").show();
                break;
            case "2" :
                // $("#form").attr("action", "/facilities/create/house");
                $(".house").show();
                break;
            case "3" :
                // $("#form").attr("action", "/facilities/create/room");
                $(".room").show();
                break;
        }

    }



</script>
</body>
</html>