<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/bootstrap_layout :: head">
</head>
<body>
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-3">
                        <h2>Manage <b>Blogs</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <form action="/library/search" novalidate="novalidate">
                            <div class="search-box">
                                <input type="text" name="searchTitle"
                                       placeholder="Search by name&hellip;">
                            </div>
                            <button class="btn btn-success" type="submit">Search<i class="material-icons">&#xE8B6;</i>
                            </button>
                        </form>
                    </div>
                    <div class="col-sm-3">
                        <a href="/library/create" class="btn btn-success"><i
                                class="material-icons">&#xE147;</i> <span>Add New Blog</span></a>
                    </div>
                </div>
            </div>
            <div class="notify">
                <div th:if="${message}">
                    <span th:text="${message}"></span>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Author</th>
                    <th>Time</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="library,status:${libraries}">
                    <td><a th:href="@{/library/{id}/view(id=${library.id})}"
                           th:text="${library.title}"></a></td>
                    <td th:text="${library.bookOrder.name}"></td>
                    <td th:text="${library.author}"></td>
                    <td th:text="${library.time}"></td>
                    <td><a th:href="@{/library/{id}/edit(id=${library.id})}" class="edit">
                        <i class="material-icons" title="Edit">&#xE254;
                        </i></a>
                        <a th:href="@{/library/{id}/delete(id=${library.id})}" class="delete">
                            <i class="material-icons" title="Delete">&#xE872;</i>
                        </a></td>
                </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <div class="pagination">
                    <a th:href="@{'/library'(page=0)}" title="first page">First</a>
                    <a th:href="@{'/library'(page=${libraries.number - 1})}"
                       th:if="${libraries.hasPrevious()}" title="previous page">Previous</a>
                    <a href="#" class="page-active"><span
                            th:text="${libraries.number+1}+'/'+${libraries.totalPages}"></span></a>
                    <a th:href="@{'/library'(page=${libraries.number + 1})}"
                       th:if="${libraries.hasNext()}" title="next page">Next</a>
                    <a th:href="@{'/library'(page=${libraries.totalPages}-1)}" title="last page">Last</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<h3>Blogs</h3>-->
<!--<p>-->
<!--    <a href="/library/create">-->
<!--        Add new library-->
<!--    </a>-->
<!--</p>-->
<!--<div id="form">-->
<!--    <form action="/library/search" novalidate="novalidate">-->
<!--        <input type="text" name="searchTitle" placeholder="Search by name">-->
<!--        <button type="submit">Search</button>-->
<!--    </form>-->
<!--</div>-->
<!--<div class="notify">-->
<!--    <div th:if="${message}">-->
<!--        <span th:text="${message}"></span>-->
<!--    </div>-->
<!--</div>-->
<!--<table id="libraries">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Title</th>-->
<!--        <th>Category</th>-->
<!--        <th>Author</th>-->
<!--        <th>Time</th>-->
<!--        <th>Edit</th>-->
<!--        <th>Delete</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="library,status:${libraries}">-->
<!--        <td><a th:href="@{/library/{id}/view(id=${library.id})}"-->
<!--               th:text="${library.title}"></a></td>-->
<!--        <td th:text="${library.bookOrder.name}"></td>-->
<!--        <td th:text="${library.author}"></td>-->
<!--        <td th:text="${library.time}"></td>-->
<!--        <td><a th:href="@{/library/{id}/edit(id=${library.id})}">Edit</a></td>-->
<!--        <td><a th:href="@{/library/{id}/delete(id=${library.id})}">Delete</a></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<!--<div>-->
<!--    <a th:href="@{'/library'(page=${libraries.number - 1})}"-->
<!--       th:if="${libraries.hasPrevious()}">Previous</a>-->
<!--    <span th:text="${libraries.number+1}+'/'+${libraries.totalPages}"></span>-->
<!--    <a th:href="@{'/library'(page=${libraries.number + 1})}"-->
<!--       th:if="${libraries.hasNext()}">Next</a>-->
<!--</div>-->
<footer th:replace="/bootstrap_layout :: footer"></footer>
</body>
</html>