<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/bootstrap_layout :: head"></head>
<body>
<h3>Remove Customer</h3>
<p>
    <a href="/library">Back to List</a>
</p>

<form action="/library/delete"
      method="post">
    <input type="hidden" th:name="id" th:value="${library.id}"/>
    <div>Delete library: <strong color="red" th:text="${library.title}"></strong>?
    </div>
    <a href="/library">Cancel</a>
    <button type="submit">Delete</button>
</form>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>