<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/bootstrap_layout :: head">
</head>
<body>
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Borrow and Return <b>BOOKS</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <form action="/book/return" novalidate="novalidate">
                            <div class="search-box">
                                <input type="text" name="otp" placeholder="..OTP..&hellip;">
                            </div>
                            <button class="btn btn-success" type="submit">Return<i
                                    class="material-icons">&#xE8B6;</i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="notify">
                <div th:if="${message}">
                    <span th:text="${message}"></span>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Title</th>
                    <th>Quantity</th>
                    <th>Stock</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book,status:${books}">
                    <td th:text="${status.count}"></td>
                    <td><a th:href="@{/book/{id}/view(id=${book.id})}"
                           th:text="${book.title}"></a></td>
                    <td th:text="${book.quantity}"></td>
                    <td th:text="${book.stock}"></td>
                    <td><a th:if="${book.stock} != 0" th:href="@{/book/{id}/order(id=${book.id})}"
                           class="btn btn-success">Order</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<footer th:replace="/bootstrap_layout :: footer"></footer>
</body>
</html>