<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View Customer</h3>
<p>
    <a href="/library">
        Back to library list
    </a>
</p>
<div id="detail">
    <div class="cusdetail">
        <label>Title:</label>
        <label th:text="${library.title}"></label>
    </div>
    <div class="cusdetail">
        <label>Category:</label>
        <label th:text="${library.bookOrder}"></label>
    </div>
    <div class="cusdetail">
        <label>Author:</label>
        <label th:text="${library.author}"></label>
    </div>
    <div class="cusdetail">
        <label>Time:</label>
        <label th:text="${library.time}"></label>
    </div>
    <div class="cusdetail">
        <label>Content:</label>
        <label th:text="${library.body}"></label>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>